@import "variables.scss";

body{
  font-family: 'Titillium Web', sans-serif;
  button{
    width: 150px;
    height: 40px;
    background: radial-gradient(lighten(#31B842, 5%), #31B842);
    background-repeat: no-repeat;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 5px 5px -3px rgba(0,0,0,0.31);
    &:focus{
      outline: none;
    }
    &:active{
      background: radial-gradient(#31B842, darken(#31B842, 5%));
    }
    text:{
      transform: uppercase;
    }
    font:{
      size: 15px;
      weight: 700;
    }
  }
  /////////////////////////////////////////////////////////////////////////////
  .nav-container{
    padding: 0;
    background-color: #222838;
    .navbar{
      display: flex;
      min-height: 80px;
      .navbar-brand{
        position: relative;
        height: 50px;
        width: 140px;
        border: 1px solid #0E5F70;
        h6{
          background-color: #222838;
          line-height: 18px;
          font:{
            size: 25px;
            weight: 600;
          }
          text-transform: uppercase;
          color: #0E5F70;
        }
        .heinz{
          position: absolute;
          top: -1px;
          left: -1px;
        }
        .schulz{
          position: absolute;
          bottom: -1px;
          right: -1px;
        }
      }
      .collapse:not(.show){
        width: 70%;
        .navbar-nav{
          .nav-item{
            @for $n from 1 through 7{
              &:nth-child(#{$n}){
                &:hover{
                  color: red;
                  .dropdown-menu{
                    display: block;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
      .collapse,.collapsing{
        .navbar-nav{
          .nav-item{
            @for $n from 1 through 7{
              &:nth-child(#{$n}){
                .dropdown-item{
                  text-decoration: none;
                }
              }
            }
            .nav-link{
              padding-top: 0;
              padding-bottom: 0;
              text-transform: uppercase;
              color: white;
              letter-spacing: 0.5px;
              border:{
                right: 2px solid white;
              }
              &:last-child{
                border: 0;
              }
              p{
                margin: 0;
              }
              font:{
                size: 15px;
                weight: 600;
              }
              &:hover{
                color: #31B842;
              }
              &::after{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////
  .news_block{
    .row{
      figure{
        overflow: hidden;
        position: relative;
        img{
          width: 100%;
          z-index: -1;
          left: 0;
        }
        &:hover{
          figcaption{
            transition: 0.5s;
            top: 0;
          }
        }
        figcaption{
          transition: 0.5s;
          top: 50%;
          height: 100%;
          position: absolute;
          z-index: 100;
          h3{
            color: #0E5F70;
            font:{
              weight: 600;
            }
            margin-left: 10px;
            margin-right: 10px;
          }
          p{
            margin-left: 10px;
            margin-right: 10px;
          }
          button{
            margin-left: 10px;
            margin-right: 10px;
          }
          &::after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            display: block;
            width: 100%;
            height: 102%;
            background-color: white;
            opacity: 0.7;
          }
        }
      }
    }
  }
  //////////////////////////////////////////////////////////////////////////////
  .contact_block{
    background-color: #1F7C8E;
  }
  //////////////////////////////////////////////////////////////////////////////
  .info-block{
    background-color: #0E5F70;
    .navigation-list-header{
      font:{
        weight: 400;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////MEDIA//////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
.header{
  @media (max-width: map-get($grid-breakpoints,xl)-1px){
    background-image: url(https://picsum.photos/id/237/800/600);
  }
  @media (min-width: map-get($grid-breakpoints,xl)){
    background-image: url(https://picsum.photos/id/237/1200/900);
  }
  background-size: cover;
  background-position: center;
  height: 100vh;
}
figcaption{
  @media(max-width: map-get($grid-breakpoints,xl)-1px){
    h3{
      font:{
        size: 50px;
      }
    }
    p{
      font:{
        size: 20px;
      }
    }
  }
  @media(max-width: map-get($grid-breakpoints,lg)-1px){
    h3{
      font:{
        size: 30px;
      }
    }
    p{
      font:{
        size: 17px;
      }
    }
  }
  @media(max-width: map-get($grid-breakpoints,lg)-1px){
    h3{
      font:{
        size: 38px;
      }
    }
    p{
      font:{
        size: 20px;
      }
    }
  }
  @media(max-width: map-get($grid-breakpoints,md)-1px){
    h3{
      font:{
        size: 38px;
      }
    }
    p{
      font:{
        size: 19px;
      }
    }
  }
}
